<mat-toolbar color="primary">
  <span routerLink="/home" routerLinkActive="active">My Application</span>
  <a mat-button routerLink="/gallery" routerLinkActive="active">Gallery</a>
  <a routerLink="/image" routerLinkActive="active">Cat Images</a>
  <a routerLink="/meme" routerLinkActive="active">BonnieMemes</a>
  <a routerLink="/resume" routerLinkActive="active">Our Résumés</a>
  <a routerLink="/vote" routerLinkActive="active">Whos best? Vote!</a>
  <a routerLink="/wine" routerLinkActive="active">Jens Wines</a>
</mat-toolbar>
